<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - CRUD</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="container">
			<h2 class="text-center">Employee Management</h2>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
	</div>
	<div class="navbar-fixed-bottom">
		<footer>
			<h4>&copy; @DateTime.Now.Year - Jayanth</h4>
		</footer>
	</div>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
