@model MVCCRUD.Models.EmpModel

@{
	ViewBag.Title = "Create";
}

<div id="title">
	<h3 class="text-center">Create New Employee</h3>
</div>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
			</div>
		</div>
		@if (Model== null || Model.Id==0)
		{
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Create New Employee" class="btn btn-success" />
				</div>
			</div>
		}
		else
		{
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Edit Employee" class="btn btn-success" />
				</div>
			</div>
		}
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Read") |
	@Html.ActionLink("DashBoard", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
