@model IEnumerable<MVCCRUD.Models.EmpModel>

@{
    ViewBag.Title = "Read";
}

<h2 class="text-center">Get Employee Details</h2>

<div id="title">
	<h4>@Html.ActionLink("Create New Employee", "Create")</h4>
</div>


@{
    var grid = new WebGrid(source: Model,
                           defaultSort: "Name",
                           rowsPerPage: 10);
    grid.SortDirection = SortDirection.Ascending;
}
<div class="col-md-3">

</div>
<div class="col-md-8">
	<div id="grid" class="table ">
		@grid.GetHtml(
				tableStyle: "grid",
				headerStyle: "head",
				columns: grid.Columns(
				grid.Column("Name", "Name", style: "Name", format: @<text><a href="~/Employee/Details/@item.id">@item.Name</a></text>),
                    grid.Column("Age", format:@<text>@item.age</text>)
														 )
													 )
	</div>


</div>

@*<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Edit ", "Employee", new { id = item.Id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>*@
